.raihan{
    background: #ddd;
}
/* header-section */
/* .header-section{
    background-color:#ddd;
    max-width: 100%;
} */

.logo{
    width: 100px;
}
/* .header-section .logo img{
    width: 110px;
} */
/* Menu */
.primary-menu {
    text-align: center;
}
.primary-menu ul{
   margin-bottom: 0;

}  


.primary-menu li {
    display: block;
    position: relative;
    padding: 10px;
}
.primary-menu  li a {
    text-decoration: none;
    color: #111;
    padding: 22px 10px;
    display: inline-block;
    position: relative;
    font-size: 18px;
    transition: .5s;
}
.primary-menu  li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: #9687ec;
    transition: .5s;
}
.primary-menu li:first-child a::after{
    width: 100%;
}
.primary-menu  li a:hover::after{
    width: 100%;
}
/* Dropdownpart */
.primary-menu li ul {
    position: absolute !important;
    width: 200px;
    left: 0;
    top: 100%;
    z-index: -1;
    padding-left: 0;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
   
}


.primary-menu li:hover ul{
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.primary-menu li ul li a {
    background-color: rgb(68, 0, 255);
    color: #fff;
    display: block;
}

.botton {
    text-decoration: none;
    padding: 10px 30px;
    background: #fff;
    border-radius: 39px;
    font-size: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-left: 57px;
}
.botton:hover{
    color: #fff;
}
.botton::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 39px;
    background-color: #7772fb; 
    transition: .5s;
    /* color: #fff !important; */
    z-index: -1;

}
.botton:hover::after{
    width: 100%;
    color: #fff !important;
    background: #7772fb;

}

/* <!-- bannaer-section --> */
.bannar-section{
    padding: 200px 0;
    position: relative;
    overflow: hidden;
    background-color:#edf6ff;
}
.banner-text {}
.banner-text h2 {
    font-size: 43px;
}
.banner-text p {
    
    font-size: 20px;
    margin-top: 45px;
}
.banner-text a {
    padding: 10px 20px;
    text-decoration: none;
    background: #0d6efd;
    color: #fff;
    border-radius: 25px;
    margin-top: 19px;
    border: 1px solid #9cb8e0;
    display: inline-block;
    font-size: 22px;
    transition: .5s;
}
.banner-text a:hover{
    background: #fff;
    color: #0d6efd;
    border: 1px solid #9cb8e0;
}

.banner img {
    width: 800px;
    height: 800px;
    border-radius: 50%;
    position: absolute;
    top: -111px;
    left: 745px;
}
/* service-section */
.service-section{
    position: relative;
    padding: 100px 0;
}
.service-top {
    padding: 25px 0;
}
.service-top h5 {
    color: #7783f3;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 400;
}
.service-top h2{
    width: 50%;
}

.service-top span {
    width: 45px;
    height: 3px;
    background: #7783f3;
    display: inline-block;
    margin-bottom: 15px;
}
.service-top p {
    width: 50%;
    font-weight: 400;
    font-size: 16px;
}

.dot-img img {
    position: absolute;
    top: 502px;
    left: 62px;
    z-index: -1;
}
.service-bottom{}
.box-1 {
    box-shadow: 2px 2px 38px #ddd;
    transition: .5s;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.box-1:hover {
    background-color: #3847e9;
    color: #fff;
    transform: scale(1.05);
}
.box-1 h2 {
    margin-bottom: 30px;
    font-size: 25px;
}
.box-1  code {
    background-color: #5252f0;
    color: #fff;
    font-size: 38px;
    width: 70px;
    display: inline-block;
    border-radius: 50% 50% 50% 0;
    height: 70px;
    text-align: center;
    line-height: 70px;
}
.box-1:hover code {
    background: #fff;
    color: blue !important;
    
}
.box-1 span {
    width: 30px;
    height: 3px;
    background: #5252f0;
    transition: .5s;
    display: inline-block;
    margin-bottom: -40px;
    margin-left: -73px;
}
.box-1:hover span {
    width: 50px;
    background: #fff;
}
.box-1:hover code{
   
    color: #fff;
}
.box-1 p {
    margin-top: 33px;
    font-size: 20px;
}
/* grow */
.grow{
    background: url("https://i.ibb.co/ZmVXkg6/video-bg.jpg") no-repeat
    center center;
    background-size: cover;
    padding: 220px 0;
    position: relative;
    z-index: 1;
}
.grow::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(36, 40, 58, 0.774);
    z-index: -1;
}
/* .grow:hover::after{
    width: 100%;
    z-index: 1;
} */
.grow-content{
    color: #fff;
}
.grow-content h5 {
    text-transform: uppercase;
    margin-bottom: 18px;
    font-size: 18px;
}
.grow-content p {
    width: 40%;
    margin: auto;
    margin-top: 2px;
}

.grow-content span {
    display: inline-block;
    width: 80px;
    height: 3px;
    background: #fff;
    margin-bottom: 16px;
    margin-left: -34px;
}

.grow-btton {
    margin-top: 62px;
}
.grow-btton span {
    width: 90px;
    height: 90px;
    background: #fff;
    display: inline-block;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 30px;
    margin: auto;
    position: relative;
    transition: .5s;
}
.grow-btton span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    border: 1px solid #fff;
    right: 0;
    margin: auto;
    bottom: 0;
    border-radius: 50%;
    animation: animationbtn 2s ease-in-out infinite;
}
.grow-btton span::after{
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border: 1px solid #fff;
    border-radius: 50%;
    animation: animationbtn 2s ease-in-out infinite;
}
@keyframes animationbtn{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    25%{
        transform: scale(1.3);
        opacity: .4;
    }
    50%{
        transform: scale(1.5);
        opacity: .7;
    }
    75%{
        transform: scale(1.7);
        opacity: .9;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
   
}
.grow-btton span:hover{
    background: blue;
    color: #fff;
}
