
body,p,span{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
    font-family: 'Rubik', sans-serif;
}

/* begain */
.main-header .container-fluid{
    max-width: 1350px;
}
.finix-logo {
    width: 138px;
}
.finix-logo img {
    margin-top: -22px;
    margin-left: 9px;
}
.menu{}
.menu ul{

}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: #111;
    text-decoration: none;
    transition: .5s;
    font-weight: 500;
}
.menu ul li a:hover{
    color: #e83b3e;
}
.header-search {
    width: 60px;
    font-size: 22px;
    text-align: center;
    margin-right: 20px;
    border-right: 1px solid #ddd;
}
/* .header-call{
    width: 220px;
} */
.header-call-icon {
    font-size: 33px;
    color: #e73a3e;
}
.header-call-info span {
    color: #606060;
    display: block;
}
.header-call-info {
    width: 220px;
}
.header-call-info a{
    font-weight: 500;
    color: #111;
    text-decoration: none;
    font-size: 18px;
}

.header-call-info {
    width: 220px !;
}
body .btn-primary {
    background-color: #e73a3e !important;
    border-color: #e73a3e;
    padding: 12px 40px;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

body .btn-primary:hover{
    border-color: #111;
}
body .btn-primary::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #111;
    border-color: #111;
    z-index: -1;
    transition: .3s;
}

body .btn-primary:hover::after{
    width: 100%;
} 


/* dropdown */

.menu li {
    position: relative;
}
.menu li ul {
    position: absolute;
    width: 300px;
    left: 0px;
    top: 160%;
    background: #fafafa;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transition: .7s;
}
.menu li ul li{
    flex-direction: column;
}
.menu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 120%;
}
/* banner-section */
.slider-section {
    background: url("https://i.ibb.co/QbrPc0Q/main-banner2.jpg")   top center  no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* height: 623px; */
}
.banner-text {
    margin-top: 196px;
}
.banner-text h6 {
    color: #e83b3e;
    font-size: 25px;
}
.banner-text h2 {
    font-size: 50px;
}
.banner-text p {
    font-size: 23px;
    margin-bottom: 42px;
}
.banner-text a{}

.banner-img{}

.icons {
    padding: 75px;
}
.icons span {
    display: inline-block;
    width: 35px;
    height: 1px;
    background: #111;
    margin-top: 11px;
    margin-left: 20px;
}
.icons ul {
    list-style: none;
}
.icons ul li {
    display: inline-block;
}
.icons ul li a {
    color: #111;
    transition: .7s;
    padding: 10px 10px;
}
.icons ul li a:hover{
    color: red;
}

.icons h6 {
    font-weight: 400;
}
.imaggg {
    margin-left: -25px;
}
    
 /* logo-secton */
.logo-secton {
    border-bottom: 1px solid #ddd;
}
.client-logo{}
.client-logo ul{
    list-style: none;
    padding-left: 0;
}

/* about-section */
.about-section{
    padding: 100px 0;
}
.about-image-inner h2 {
    color: #e73a3e;
    font-size: 65px;
    margin-top: 15px;
}
.about-image-inner p {
    font-weight: 500;
}
.about-image{
    position: relative;
}
.about-img-text {
    position: absolute;
    right: 19px;
    bottom: 0;
    background: url(https://i.ibb.co/tXt8BSB/shape.png);
    height: 200px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text{}
.finix-text {
    margin-left: 35px;
}
.finix-text h6 {
    color: #e73c3e;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}
.finix-text h2 {
    font-weight: 400;
    font-size: 30px;
}
.finix-text p{}
.finix-text  ul{
    list-style: none;
}
.finix-text  ul li {
    margin-top: 14px;
    margin-left: -39px;
}
strong{
    font-weight: 400;
    font-size: 20px;
}
.finix-text span {
    color: #e73c3e;
    margin: 10px;
}
 
